@charset "utf-8";

body{
    font-size:16px;
}

h1{
    border:10px solid;
    border-color:#ff00ff;
    border-radius:20px;
    background-color:silver;
}

h2{
    background-color:#fffff0;
}

h3{
    font-size:14px;
}

p{
    font-size:16px;
}

p#sample{
    background-color: #aaaaaa;
}

p.speach{
    color:white;
    background-color:black;
    font-size:110%;
    border:15px solid;
    border-color:red;
}

strong{
    color:#000055;
    font-size:110%;
}

div.report{
    font-size:121%;
    color:#dd0000;
    background-color:#cccccc;
}

div.mark{
    font-size:110%;
    color:white;
    background-color:green;
}




p.poem{
    color:green;
    border:4px solid;
    border-color:black;
    border-radius:8px;
    
}

span{
    font-size:130%;
    color:blue;
}

span.red{
    color:red;
    font-size:120%;
}

img#picture1{
    width:300px;
    height:auto;
}

img#picture2{
    width:300px;
    height:auto;
}

img.panf{
    width:400px;
    height:auto;
}

table{
    border:3px solid;
}

table th{
    background-color:steelblue;
    border: 3px solid;
}

table td{
    border:3px solid;
}

a{
    font-size:120%;
    margin:10px;
}
