@charset "utf-8";

p{
    background-color: #aaaaaa;
}

strong{
    color:#000055;
    font-size:200%;
}

div{
    font-size:300%;
    color:#ff0000;
}

h1{
    background-color:#777777;
}

p.poem{
    color:red;
    border:solid;
}
