@charset "utf-8";

h1{
  text-shadow:4px 2px 3px yellow,-3px -2px 3px blue;
  box-shadow:-30px 5px 1px violet;
  font-size:30px;
}

p{
  font-size: 20px;
}

ol li{
  font-size: 20px;
}

form{
  background-color: aliceblue;
  border: solid burlywood 3px;
}

.title{
  font-size: 50px;
  background-color: blueviolet;
  color: white;
  border: solid 3px red;
  width: 50%;
  text-align: center;
}

.title:hover{
  color:black;
  background-color: yellowgreen;
  border-left: 30px solid teal;
  transition: border-left 5.0s;
}